@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-bg-page: #f8f9ff;
    --color-bg-card: #EAEFFF;
    --color-primary: #0026A5;
    --color-primary-dark: #002575;
    --color-primary-rgba: rgba(0, 38, 165, 0.5);
    --color-text-light: white;
    
    --color-error-text: #c33;

    --font-weight-bold: 700;
    --font-weight-semibold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg-page);
    background-image: url('/server/assets/img/bg.png');
    background-position: center;
    background-repeat: repeat;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-page);
    background-image: url('/server/assets/img/bg.png');
    background-position: center;
    background-repeat: repeat;
}

header {
    padding: 30px 140px;
    background-color: var(--color-primary);
    font-family: 'Ubuntu Mono', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    display: flex;
    align-items: center;
    gap: 60px;
}

.link a {
    font-size: 32px;
    text-decoration: none;
    color: var(--color-text-light);
    transition: all 0.3s ease;
}

.link a:hover {
    text-decoration: underline;
}

.logo{
    font-size: 40px;
    color: var(--color-text-light);
}